.hover-columna
  position: relative

.h-425
  height: 425px  
  
.banner-interno__fondo
  background-image: url('../assets/curso/fondo-banner-internas.png') !important


.bg-1
  background-color: #DEE4F0  
.bg-blanco
  background-color: #fff  

.tema-1.slyder-a .slyder-a__tipo-a .slyder-a__bullets
  bottom: 15px
.tema-1.slyder-a .slyder-a__tipo-a .slyder-a__btn--sigt, .tema-1.slyder-a .slyder-a__tipo-a .slyder-a__btn--atrs
  background-color: #DEE4F0
  border-radius: 0px
  width: 40px
  height: 40px   