.hover-columna
  position: relative

.h-425
  height: 425px  
  
.banner-interno__fondo
  background-image: url('../assets/curso/fondo-banner-internas.png') !important
.tema1-rectangulo
  background: url('../assets/curso/tema1-fondo.png')
  background-position: center left
  background-size: 90% 85%
  background-repeat: no-repeat
  @media (max-width: 992px)  
    background-size: cover 

.bg-1
  background-color: #DEE4F0  
.bg-blanco
  background-color: #fff  
.bg-gris
  background-color: #E8E8E8
.bg-acento-botones
  background-color: #F37F4C  
.bg-primario
  background-color: #32D9CB
.bg-secundario
  background-color: #00A3BE  

.bordes-curvos
  border-radius: 50px  

.tema-1.slyder-a .slyder-a__tipo-a .slyder-a__bullets
  bottom: 15px
.tema-1.slyder-a .slyder-a__tipo-a .slyder-a__btn--sigt, .tema-1.slyder-a .slyder-a__tipo-a .slyder-a__btn--atrs
  background-color: #DEE4F0
  border-radius: 0px
  width: 40px
  height: 40px   

.tema1-1-acord .acord
  border-bottom: 1px solid #E8E8E8  
  border-radius: 0px
  background-color: #FFF
  margin-bottom: 0px !important
.tema1-1-acord .acord.acordion__activo 
  border-radius: 20px
  background-color: #F6F6F6
.tema1-1-acord .acordion__header
  padding-left: 30px
  @media (max-width: 992px)   
    padding-left: 0px